-#!!!
%style
  =raw Gallery::Application.assets.find_asset('application.css').source
%ul.menu
  %li
    %a(href=root_path) Главная
  %li
    %a(href=categories_path) Категории
  %li
    %a(href='') "Что то еще"
  %li
    %ul
      %li
        - if user_signed_in?
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          = link_to 'Sign In', 'users/sign_in'
