.container
  %nav.navbar.navbar-expand-lg.navbar-default.bg-light
    %a.navbar-brand(href='#') Gallery
    %ul.navbar-nav
      %li.active
        %a(href=root_path) Главная
      %li
        %a(href=categories_path) Категории
      %li
        %a(href=images_path) Все картинки
      %li
        %a(href=admin_root_path) Admin
      %li
        - if user_signed_in?
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          = link_to 'Sign In', 'users/sign_in'
