%nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
  .navbar-collapse.order-0.text-center
    .navbar-brand Gallery
    %ul.navbar-nav.ml-auto
      %li.active.nav-item
        %a.nav-link(href=root_path) Главная
      %li.nav-item
        %a.nav-link(href=categories_path) Категории
      %li.nav-item
        %a.nav-link(href=images_path) Все картинки
      %li.nav-item
        %a.nav-link(href=admin_root_path) Admin
  .navbar-collapse.order-1
    %ul.navbar-nav.ml-auto
      %li.nav-item
      - if user_signed_in?
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link text-center text-uppercase'
      - else
        = link_to 'Sign In', 'users/sign_in', class: 'nav-link text-center'
