// Place all the styles related to the Category controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
//ul.menu{
//  list-style: none; /*убираем маркеры списка*/
//  //margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
//  padding-left: 0px; /*убираем левый отступ, равный 40px*/
//  li {
//    display: inline-block;
//  }
//}
//div.category-list-main{
//  margin-left: 15px;
//}
//
.rectangle {
  height: auto;
  width: 270px;
  height: 270px;
  background-color: #555;
}
p.rectangle{
  color: white;
}

