-#!!!
%style
  =raw Gallery::Application.assets.find_asset('application.css').source
%ul.menu
  %li
    %a(href='/') Главная
  %li
    %a(href='categories') Категории
  %li
    %a(href='') "Что то еще"
