!!!
-#=raise qwe
%div
  = image_tag "#{@image.path}", alt: @image[:path]
- @image.comments.each do |comment|
  %p
    = comment&.body


= link_to 'new comment', new_comment_path(image_id: params[:id])