%p
  Welcome #{@email}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url('https://powerful-peak-65522.herokuapp.com/users/confirmation',
                                                  confirmation_token: @token)
